$logo_color: #000;

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: $logo_color;
  text-decoration: none;
  letter-spacing: 0.03em;
  &__word--decorative {
    color: getColor("selection");
  }
}
footer a.logo {
  color: #fff;
}
